@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
}

/* stylelint-disable-next-line */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono, ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Helvetica Neue', monospace);
  --font-carattere: var(--font-carattere);
  --font-inter: var(--font-inter);
  --font-bodoni-moda-sc: var(--font-bodoni-moda-sc);
  --font-oswald: var(--font-oswald);
  --color-test: #B24858;
  --color-nav: #202020;
  --color-pk: #FF9999;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.carattere-regular {
  font-family: var(--font-carattere), cursive;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: var(--font-inter), sans-serif;
}

.bodoni-moda-sc {
  font-family: var(--font-bodoni-moda-sc), serif;
}

.oswald {
  font-family: var(--font-oswald), sans-serif;
}